
<!DOCTYPE html>
<html>
  <head>
    <style>
    .pro{
      margin-top:140px;
    }
    .user-row {
    margin-bottom: 14px;
}

.user-row:last-child {
    margin-bottom: 0;
}

.dropdown-user {
    margin: 13px 0;
    padding: 5px;
    height: 100%;
}

.dropdown-user:hover {
    cursor: pointer;
}

.table-user-information > tbody > tr {
    border-top: 1px solid rgb(221, 221, 221);
}

.table-user-information > tbody > tr:first-child {
    border-top: 0;
}


.table-user-information > tbody > tr > td {
    border-top: 0;
}
.toppad
{margin-top:20px;
}
body{
  background: #FFBF29;
  background: -webkit-linear-gradient(bottom, #FFBF29, #ffe94c);
  background: -o-linear-gradient(bottom, #FFBF29, #ffe94c);
  background: -moz-linear-gradient(bottom, #FFBF29, #ffe94c);
  background: linear-gradient(bottom, #FFBF29, #ffe94c);
}
</style>
    <title> User Profile </title>
    <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
  <link rel="stylesheet" href="assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="fonts/font-awesome-4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="assets/css/preset.css">
    <link rel="stylesheet" href="assets/css/style.css">
    <link href="https://fonts.googleapis.com/css?family=Muli:300,400,600,700,800,900" rel="stylesheet">

    <link rel="stylesheet" id="triggerColor" href="assets/css/colors/solid/color.css">
    <link rel="stylesheet" id="grad_triggerColor" href="assets/css/colors/gradient/color.css">
  </head>
  <body>
    <nav class="navbar navbar-toggleable-md fixed-top navbar-light">
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
      </button>
        <a class="navbar-brand" href="/"><img class="img-fluid" src="assets/images/stocklogo.png" alt="Logo"></a>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav justify-content-center mx-auto">
                <!-- Dropdown -->
                <li class="nav-item">
                    <a class="nav-link" href="/userhome">Home</a>
                </li>
                <li class="nav-item">
                <a class="nav-link" href="/sectoranalysis">
                  Analyze By Sector</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/yearanalysis">Analyze By year</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/companyanalysis">Analyze By Company</a>
                </li>
              </ul>
                <ul class="nav navbar-nav navbar-right">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown"><%= firstName %> <%= lastName %></a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="/profile">My Profile</a>
                        <a class="dropdown-item" href="/logout">Logout</a>
                    </div>
                </li>

            </ul>
        </div>
    </nav>

              <div class="pro">
              <div class="container">
               <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xs-offset-0 col-sm-offset-0 col-md-offset-3 col-lg-offset-3 toppad" >
          <div class="panel panel-info">
            <div class="panel-heading">
              <h3 class="panel-title"><%= firstName %> <%= lastName %></h3>
            </div>
            <div class="panel-body">
              <div class="row">
                <div  align="center"> <img alt="User Pic" src="images/default.jpg" class="img-circle img-responsive"> </div>
                <div class=" col-md-9 col-lg-9 "> 
                  <table class="table table-user-information">
                    <tbody>
                      <tr>
                        <td>First Name:</td>
                        <td><%= firstName %></td>
                      </tr>
                      <tr>
                        <td>Last Name:</td>
                        <td><%= lastName %></td>
                      </tr>
                      <tr>
                        <td>Email:</td>
                        <td><%= email %></td>
                      </tr>
                   
                        <td>Phone Number:</td>
                        <td><%= phoneNumber %></td>
                           
                      </tr>
                     
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
            </div>
          </div>
            </div>
        </div>
    </div>



    <footer>
        <div class="footer">
            <div class="container">
                <div class="row">
                    <div class="col-lg-3 col-sm-6">
                        <div class="widget">
                            <h5>Get in Touch</h5>
                            <div class="widget_content">
                                <ul>
                                    <li><i class="fa fa-lg fa-map-marker"></i>San Jose State University</li>
                                    <li><i class="fa fa-lg fa-mobile"></i>+123 4567 890</li>
                                    <li><i class="fa fa-lg fa-envelope-o"></i>stockmarketanalysisteam@example.com</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-6">
                        <div class="widget">
                            <h5>Recent Post</h5>
                            <div class="widget_content">
                                <ul>
                                    <li>
                                        <a href="#">
                                            <div class="widget_recent_post">
                                                <div class="widget_recent_post_img">
                                                    <img class="img-fluid" src="assets/images/spinner.gif" data-src="assets/images/blog/blog5.jpeg" alt="Image">
                                                </div>
                                                <div class="widget_recent_post_content">
                                                    <h6>Laborum deleniti sequi, consequuntur</h6>
                                                    <small>12 dec 2017</small>
                                                </div>
                                            </div>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <div class="widget_recent_post">
                                                <div class="widget_recent_post_img">
                                                    <img class="img-fluid" src="assets/images/spinner.gif" data-src="assets/images/blog/blog2.jpeg" alt="Image">
                                                </div>
                                                <div class="widget_recent_post_content">
                                                    <h6>Deleniti sequi, consequuntur</h6>
                                                    <small>16 dec 2017</small>
                                                </div>
                                            </div>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-6">
                        <div class="widget">
                            <h5>Newsletter</h5>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                            <div class="widget_content">
                                <form action="#">
                                    <input type="email">
                                    <input type="submit">
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="footer_bottom">
            <div class="container">
                <div class="row">
                    <div class="col-sm-6">
                        <ul class="list-inline">
                            <li class="list-inline-item"><a href="#">Home</a></li>
                            <li class="list-inline-item"><a href="#">About</a></li>
                            <li class="list-inline-item"><a href="#">Services</a></li>
                            <li class="list-inline-item"><a href="#">Team</a></li>
                            <li class="list-inline-item"><a href="#">Blog</a></li>
                            <li class="list-inline-item"><a href="#">Contact</a></li>
                        </ul>
                    </div>
                    <div class="col-sm-6">
                        <p class="pull-right">All Right Reserved by <a href="stockmarketanalysis.com">Stock Market Analysis</a> © 2017</p>
                    </div>
                </div>
            </div>
        </div>
    </footer>
  </body>

</html>
